.dish-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 150px;
  width: 100%;
  border: 2px solid grey;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
  box-shadow: 0px 3px 3px 0px;
}

.next-img {
  height: 20px;
  width: 20px;
}

.dish-details-container {
  display: flex;
  flex-direction: row;
}

.dish-description-container {
  display: flex;
  flex-direction: column;
  line-height: 1px;
  margin-left: 5px;
  padding-top: 0px;
  width: 300px;
}

.dish-name {
  font-family: 'Roboto';
  font-size: 15px;
  font-weight: bold;
}

.dish-currency-price {
  font-family: 'Roboto';
  font-size: 10px;
  font-weight: bold;
  color: darkgray;
}

.dish-discription {
  font-family: 'Roboto';
  font-size: 10px;
  font-weight: 300;
  color: darkgray;
  line-height: 12px;
}

.btn-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 8px;
  height: 30px;
  width: 100px;
  border-bottom-left-radius: 25px;
  border-top-left-radius: 25px;
  border-bottom-right-radius: 25px;
  border-top-right-radius: 25px;
  background-color: green;
  color: #ffffff;
}

.incre-decre-btns {
  background-color: transparent;
  padding: 0px;
  color: #ffffff;
  border: none;
  outline: none;
  cursor: pointer;
  height: 100%;
}

.dish-calories {
  color: orange;
  font-family: 'Roboto';
  font-size: 10px;
  font-weight: bold;
}

.dish-image {
  height: 100px;
  width: 100px;
  border-radius: 20px;
}

.not-available-text {
  color:red;
  font-family: 'Roboto';
  font-size: 10px;
  font-weight: 300;
}