.header-bg-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  box-shadow: 0px 3px 3px 0px;
}

.my-orders-text {
  display: none;
  font-family: 'Roboto';
  font-size: 15px;
}

@media screen and (min-width: 768px) {
  .my-orders-text {
    display: block;
    font-family: 'Roboto';
    font-size: 15px;
  }
}

.cart-icon {
  display: block;
}

.cart-icon-link {
  position: relative;
}

@media screen and (min-width: 768px) {
  .cart-icon {
    display: none;
  }
}

.buttons-icon-container {
  display: flex;
  flex-direction: row;
  width: 30%;
}
